NEXT_PUBLIC_VERCEL_ENV=development
NEXT_PUBLIC_VERCEL_URL=YOUR_NEXT_PUBLIC_VERCEL_URL_HERE

BACKEND_URL=YOUR_BACKEND_URL_HERE

# Gumlet Image Processing API
GUMLET_API_DOMAIN=YOUR_GUMLET_API_DOMAIN_HERE

# Accurate Indonesia API
ACCURATE_API_TOKEN=YOUR_ACCURATE_API_TOKEN_HERE
ACCURATE_SIGNATURE_SECRET=YOUR_ACCURATE_SIGNATURE_SECRET_HERE
ACCURATE_TOKEN_URL=YOUR_ACCURATE_TOKEN_URL_HERE
ACCURATE_ITEM_SERIAL_LOOKUP_PATH=YOUR_ACCURATE_ITEM_SERIAL_LOOKUP_PATH_HERE
ACCURATE_ITEM_DETAIL_PATH=YOUR_ACCURATE_ITEM_DETAIL_PATH_HERE

QR_SIGNING_SECRET=YOUR_QR_SIGNING_SECRET_HERE

# Socials
INSTAGRAM_URL=YOUR_INSTAGRAM_URL_HERE
WHATSAPP_URL=YOUR_WHATSAPP_URL_HERE